[submodule "resources/images-gitee"]
	path = resources/images-gitee
	url = https://gitee.com/chua-n/blog-images.git
[submodule "glodon-notes"]
	path = glodon-notes
	url = git@gitee.com:chua-n/glodon-notes.git
