// you can change colors here
$theme-color: #6a005f;
$font-family: 'Georgia, -apple-system, 华文中宋, "PingFang SC", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif';
$font-family-heading: $font-family;
