// you can change colors here
$theme-color: #6a005f;
$font-family: 'Cambria, -apple-system, "思源宋体 CN Medium", 华文中宋, "PingFang SC", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif';
$font-family-heading: $font-family;
