// you can change colors here
$theme-color: #6a005f;
$font-family: '"Noto Serif SC", "PingFang SC", 华文中宋, 思源宋体, "Source Sans Pro", "Helvetica Neue", Arial, sans-serif';
$font-family-heading: '"Noto Serif SC", "PingFang SC", 华文中宋, 思源宋体, "Source Sans Pro", "Helvetica Neue", Arial, sans-serif';